body {
  font-family: arial;
  background-color: cornsilk;
}
#matrix {
 font-family: sans-serif;
 font-size: 32px;
}
.color0 {
 background-color: yellow;
}
.color1 {
 background-color: aqua;
}
.color2 {
 background-color: pink;
}
span {
 padding: 0 0 0 10px;
}
